[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
python-dotenv = "===0.10.1"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
