[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "===18.9b0"
pylint = "*"
pytest = "*"
pytest-flask-sqlalchemy = "*"
python-dotenv = "===0.10.1"
tavern = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[pipenv]
allow_prereleases = true
